<h1>Coupon Form</h1>

<%= form_tag coupons_path do %>
  <label for="store">Store:</label>
  <%= text_field_tag :store %>
  
  <label for="coupon_code">Coupon Code:</label>
  <%= text_field_tag :coupon_code %>
            
  <%= submit_tag "Submit Coupon" %>
<% end %>



<%= form_tag coupon_path do %>
  <label>Post title:</label><br>
  <%= text_field_tag :'post[title]' %><br>
 
  <label>Post description:</label><br>
  <%= text_area_tag :'post[description]' %><br>
 
  <%= submit_tag "Submit Post" %>
<% end %>
